@font-face {
  font-family: "Poppins-Light";
  src: url(../font/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(../font/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url(../font/Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../font/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url(../font/Poppins-ExtraBold.ttf);
  font-weight: 800;
}
