@import url(./font.css);

:root {
  --PL: "Poppins-Light";
  --PR: "Poppins-Regular";
  --PM: "Poppins-Medium";
  --PB: "Poppins-Bold";
  --PEB: "Poppins-ExtraBold";
  --secondary: #828282;
  --gray: #4f4f4f;
  --light: #fff;
  --yellow: #ffe074;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: #fcfcfc;
}

.page-header {
  background-color: #926ff6;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 43px;
}

.navbar-text {
  color: var(--light);
  font-family: var(--PB);
  font-size: 18px;
  font-weight: 800;
}

.header-nav {
  display: flex;
  column-gap: 18px;
}

.header-nav-link {
  font-family: var(--PR);
  color: var(--light);
  font-size: 11px;
}

.header-banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 85px 97px;
}

.header-banner-text {
  color: var(--yellow);
  font-family: var(--PEB);
  font-size: 12px;
}

.header-banner-title {
  color: var(--light);
  font-family: var(--PEB);
  font-size: 62px;
  padding: 30px;
}

.header-banner_title-text {
  color: var(--light);
  font-family: var(--PL);
  font-size: 16px;
  padding-bottom: 30px;
}

.burger-menu {
  width: 30px;
  height: 20px;
  display: flex;
  display: none;
}

.burger-menu div {
  width: 100%;
  height: 2px;
  background-color: var(--light);
  align-self: center;
  position: relative;
}

.burger-menu div::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--light);
  position: absolute;
  top: -10px;
}

.burger-menu div::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--light);
  position: absolute;
  bottom: -10px;
}

.main-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 164px 105px;
}

.main-banner-item {
  display: flex;
  flex-direction: column;
}

.main-banner-title {
  max-width: 465px;
  width: 100%;
  color: var(--gray);
  font-family: var(--PM);
  font-size: 24px;
  padding-block: 15px 30px;
}

.main-banner-text {
  max-width: 419px;
  width: 100%;
  color: var(--gray);
  font-family: var(--PL);
  font-size: 16px;
  padding-bottom: 35px;
}

.main-play {
  display: flex;
  align-items: center;
  column-gap: 14px;
  cursor: pointer;
}

.main-banner-play {
  color: #f3849f;
  font-family: var(--PB);
  font-size: 16px;
}

.main-information {
  display: flex;
  background-color: var(--light);
  padding: 73px 75px;
  border-radius: 3px;
  margin-bottom: 105px;
  column-gap: 60px;
}

.web-design {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.web-design-information {
  background-color: #926ff6;
  padding: 13px 12px 10px 13px;
  border-radius: 50%;
}

.web-design-development {
  background-color: #f3849f;
  padding: 13px 12px 10px 13px;
  border-radius: 50%;
}

.web-design-research {
  background-color: #79cfff;
  padding: 13px 12px 10px 13px;
  border-radius: 50%;
}

.web-design-title {
  color: var(--gray);
  text-align: center;
  font-family: var(--PM);
  font-size: 16px;
  padding-block: 17px 10px;
}

.web-design-text {
  color: var(--gray);
  text-align: center;
  font-family: var(--PL);
  font-size: 12px;
}

.main-projects {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
}

.project {
  display: flex;
  padding-bottom: 15px;
}

.main-banner-title.active {
  padding-block: 15px;
}

.main-projects-link {
  display: flex;
  align-items: center;
  column-gap: 18px;
}

.main-projects-links {
  color: var(--secondary);
  text-align: center;
  font-family: var(--PR);
  font-size: 11px;
  transition: 0.5s;
  cursor: pointer;
  padding: 5px 18px;
  transition: 0.5s;
}

.main-projects-links:hover {
  color: var(--light);
  background-color: #f3849f;
  border-radius: 26px;
}

.main-projects-links.active {
  background-color: #f3849f;
  color: var(--light);
  padding: 5px 18px;
  border-radius: 26px;
}

.main-images {
  margin-bottom: 215px;
}

.main-post {
  padding: 113px 255px 150px;
  background-color: #f7eeff;
}

.main-posts {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-banner-title.posts {
  text-align: center;
  padding-block: 15px 58px;
}

.main-post-info {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.web-design-text.post-title {
  text-align: left;
}

.main-post-text {
  color: #f3849f;
  font-family: var(--PB);
  font-size: 10px;
  padding-block: 27px 10px;
}

.main-post-text.news {
  color: #926ff6;
}

.main-post-text.opinion {
  color: #79cfff;
}
