@import url(./font.css);

:root {
  --PL: "Poppins-Light";
  --PR: "Poppins-Regular";
  --PM: "Poppins-Medium";
  --PB: "Poppins-Bold";
  --PEB: "Poppins-ExtraBold";
  --secondary: #828282;
  --gray: #4f4f4f;
  --light: #fff;
  --yellow: #ffe074;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.page-header {
  background-color: #926ff6;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 43px;
}

.navbar-text {
  color: var(--light);
  font-family: var(--PB);
  font-size: 18px;
  font-weight: 800;
}

.header-nav {
  display: flex;
  column-gap: 18px;
}

.header-nav-link {
  font-family: var(--PR);
  color: var(--light);
  font-size: 11px;
}

.header-banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 85px 97px;
}

.header-banner-text {
  color: var(--yellow);
  font-family: var(--PEB);
  font-size: 12px;
}

.header-banner-title {
  color: var(--light);
  font-family: var(--PEB);
  font-size: 62px;
  padding: 30px;
}

.header-banner_title-text {
  color: var(--light);
  font-family: var(--PL);
  font-size: 16px;
  padding-bottom: 30px;
}

.burger-menu {
  width: 30px;
  height: 20px;
  display: flex;
  display: none;
}

.burger-menu div {
  width: 100%;
  height: 2px;
  background-color: var(--light);
  align-self: center;
  position: relative;
}

.burger-menu div::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--light);
  position: absolute;
  top: -10px;
}

.burger-menu div::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--light);
  position: absolute;
  bottom: -10px;
}
