@media (max-width: 870px) {
  .main-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 130px 90px;
  }

  .header-banner-item {
    display: flex;
    align-items: center;
  }

  .header-banner-text,
  .main-banner-title,
  .main-banner-text {
    text-align: center;
  }

  .main-banner-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .main-play {
    display: none;
  }
}

@media (max-width: 576px) {
  .header-nav {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .header-banner-title {
    font-size: 35px;
    padding: 15px;
  }
}

@media (max-width: 470px) {
  .main-img {
    max-width: 350px;
    width: 100%;
  }

  .main-banner-title {
    font-size: 20px;
    padding-block: 10px 10px;
  }
}
